<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title>FNIRSI DPS-150</title>

		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.4/dist/vuetify.min.css" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

		<script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.4/dist/vuetify.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/plotly.js@2.35.2/dist/plotly.min.js" defer></script>
		<script src="script.js" type="module" defer></script>

		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

		<style>
			.monomaniac-one-regular {
				font-family: "Monomaniac One", sans-serif;
				font-weight: 400;
				font-style: normal;
			}


			// <uniquifier>: Use a unique and descriptive class name
			// <weight>: Use a value from 100 to 900

			.noto-sans-jp-normal {
				font-family: "Noto Sans JP", serif;
				font-optical-sizing: auto;
				font-weight: 600;
				font-style: normal;
			}

			body {
				font-family: "Noto Sans JP", serif;
				font-optical-sizing: auto;
				font-weight: 600;
				font-style: normal;
			}

			.main-view {
				font-family: "Monomaniac One", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 80px;
				text-align: right;
				line-height: 1;
				padding: 20px;
			}

			.main-view .set {
				font-size: 50%;
			}

			#app {
				margin: 0 auto;
			}

			p.note {
				margin: 1em 0;
				font-size: 90%;
				max-width: 30em;
				color: #333;
			}

			.main-view .unit {
				font-size: 50%;
			}

			.voltage {
				color: oklch(63.11% 0.1964 139.76)
			}

			.current {
				color: oklch(63.11% 0.1964 26.48)
			}

			.voltage.v-chip {
				background: oklch(63.11% 0.1964 139.76);
				color: white;
			}

			.current.v-chip {
				background: oklch(63.11% 0.1964 26.48);
				color: white;
			}

			.v-chip {
				margin-left: 5px;
			}

			.power {
				color: oklch(63.11% 0.1964 230.46)
			}

			.mode {
				font-size: 50%;
			}

			.info {
				font-size: 25%;
			}

			.enabled {
				background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 5px, #fce6ba 5px, #fce6ba 10px);
			}

			.v-app-bar .v-btn {
				margin: 10px;
			}

			.v-card {
			}

			.changeable {
				cursor: pointer;
			}

			.changeable .v-btn {
				visibility: hidden;
			}

			.changeable:hover {
				cursor: pointer;
				background: rgb(200, 200, 200, 0.5);
			}

			.changeable:hover .v-btn {
				visibility: visible;
			}

			.groups .changeable.changed {
				background: #ffcccc;
			}

			#numberInputting {
				font-size: 200%;
				text-align: right;
				font-weight: bold;
				padding: 20px 2px;
			}
			
			#numberInputTable {
				width: 100%;
				table-layout: fixed;
			}

			#numberInputTable .v-btn {
				margin: 0;
				min-width: auto;
				min-height: 10vh;
				width: 100%;
				box-sizing: border-box;
				background: #efefef;
				font-size: 200%;
				text-transform: none;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<v-app>
				<v-app-bar density="default">
					<v-app-bar-title>
						{{ device.modelName }} {{ device.firmwareVersion }} {{ device.hardwareVersion }}
					</v-app-bar-title>

					<v-spacer></v-spacer>

					<span class="ms-2">
						<v-chip>{{ device.temperature.toFixed(0) }}°C</v-chip>
						<v-chip :color="device.protectionState === 'LVP' ? 'red' : 'default'">Input: {{ formatNumber(device.inputVoltage) }}V</v-chip>
					</span>

					<v-btn class="connect" icon  variant="flat" color="red" @click="connect" v-if="!port">
						<v-icon>mdi-link-off</v-icon>
						<v-tooltip activator="parent" location="bottom">Connect</v-tooltip>
					</v-btn>
					<v-btn class="disconnect" icon variant="flat" color="green" @click="disconnect" v-else>
						<v-icon>mdi-link</v-icon>
						<v-tooltip activator="parent" location="bottom">Disconnect</v-tooltip>
					</v-btn>

					<v-btn icon variant="flat" color="green" @click="enable" v-if="!device.outputClosed" title="Enable" :disabled="!port">
						<v-icon>mdi-power</v-icon>
						<v-tooltip activator="parent" location="bottom">Enable Output</v-tooltip>
					</v-btn>

					<v-btn icon variant="flat" color="red" @click="disable" v-if="device.outputClosed" title="Disable">
						<v-icon>mdi-power</v-icon>
						<v-tooltip activator="parent" location="bottom">Disable Output</v-tooltip>
					</v-btn>

					<!-- v-menu>
						<template v-slot:activator="{ props }">
							<v-btn icon="mdi-dots-vertical" variant="text" v-bind="props"></v-btn>
						</template>

						<v-list>
							<v-list-item>
								<v-list-item-title>test</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu -->
				</v-app-bar>

				<v-main>
					<v-container>
						<div class="d-flex">
							<div class="flex-fill" style="padding: 10px; height: 500px">
								<div style="position: relative; height: 100%">
									<div ref="graph" stlye=""></div>
									<div class="d-flex justify-center" style="position: absolute; bottom: 0">
										<v-checkbox label="Voltage" hide-details color="green" v-model="graphOptions.voltage"></v-checkbox>
										<v-checkbox label="Current" hide-details color="red" v-model="graphOptions.current"></v-checkbox>
										<v-checkbox label="Power" hide-details color="blue" v-model="graphOptions.power"></v-checkbox>
									</div>
								</div>
							</div>

							<div class="main-view" :class="{ enabled: device.outputClosed }" style="width: 300px">
								<div class="changeable voltage" @click="changeVoltage">
									<span>{{ port ? formatNumber(device.outputVoltage) : "-" }}</span><span class="unit">V</span>
									<div class="set">
										vset <span>{{ formatNumber(device.setVoltage) }}</span><span class="unit">V</span>
									</div>
								</div>
								<div class="changeable current" @click="changeCurrent">
									<span>{{ port ? formatNumber(device.outputCurrent) : "-" }}</span><span class="unit">A</span>
									<div class="set">
										cset <span>{{ formatNumber(device.setCurrent) }}</span><span class="unit">A</span>
									</div>
								</div>
								<div class="power">
									<span>{{ port ? formatNumber(device.outputPower) : "-" }}</span><span class="unit">W</span>
								</div>
								<v-chip :class="{ current: device.mode === 'CC', voltage: device.mode === 'CV' }" variant="flat" size="large">
									{{ device.mode }}
									<v-tooltip activator="parent" location="start">
										{{ device.mode === 'CC' ? 'Constant Current' : 'Constant Voltage' }}
									</v-tooltip>
								</v-chip>
								<v-chip :color="device.protectionState ? 'red' : 'green' " variant="flat" size="large">
									{{ device.protectionState || "OK" }}
									<v-tooltip activator="parent" location="start">
										{{ formatProtectionState(device.protectionState) }}
									</v-tooltip>
								</v-chip>
							</div>
						</div>

						<v-card>
							<v-tabs v-model="tab">
								<v-tab value="memory">Memory Groups</v-tab>
								<v-tab value="metering">Metering</v-tab>
								<v-tab value="protections">Protections</v-tab>
								<v-tab value="program">Program</v-tab>
								<v-tab value="history">History</v-tab>
								<v-tab value="settings">Settings</v-tab>
							</v-tabs>

							<v-card-text>
								<v-tabs-window v-model="tab">
									<v-tabs-window-item value="memory">
										<v-table density="compact" style="max-width: 30em" class="groups">
											<template v-if="true">
												<tbody>
													<tr v-for="group in groups">
														<td>
															<v-btn size="x-small" :color="groupChanged(group) ? 'red' : 'green'" variant="flat" @click="setGroup(group)">
																M{{ group.n }}
																<v-tooltip activator="parent" location="start">
																	{{ groupChanged(group) ? 'Update with changed values' : `Set M${group.n}` }}
																</v-tooltip>
															</v-btn>
														</td>
														<td @click="editGroupVoltage(group)" class="changeable" :class="{ changed: groupChanged(group, 'V') }">
															{{ formatNumber(groupsInput[group.n].setVoltage || group.setVoltage) }}V
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
														<td @click="editGroupCurrent(group)" class="changeable" :class="{ changed: groupChanged(group, 'I') }">
															{{ formatNumber(groupsInput[group.n].setCurrent || group.setCurrent) }}A
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
												</tbody>
											</template>
										</v-table>
									</v-tabs-window-item>
									<v-tabs-window-item value="metering">
										<v-btn @click="startMetering" color="green" v-if="device.meteringClosed">Start</v-btn>
										<v-btn @click="stopMetering" color="red" v-else>Stop</v-btn>
										<v-table density="compact" style="max-width: 30em">
											<template v-if="true">
												<tbody>
													<tr>
														<td>Output Capacity</td>
														<td>
															<span v-if="device.outputCapacity < 1">
																{{ formatNumber(device.outputCapacity * 1000) }}mAh
															</span>
															<span v-else>
																{{ formatNumber(device.outputCapacity) }}Ah
															</span>
														</td>
													</tr>
													<tr>
														<td>Output Energy</td>
														<td>
															<span v-if="device.outputEnergy < 1">
																{{ formatNumber(device.outputEnergy * 1000) }}mWh
															</span>
															<span v-else>
																{{ formatNumber(device.outputEnergy) }}Wh
															</span>
														</td>
													</tr>
												</tbody>
											</template>
										</v-table>
									</v-tabs-window-item>
									<v-tabs-window-item value="protections">
										<v-table density="compact" style="max-width: 30em">
											<template v-if="true">
												<tbody>
													<tr>
														<th>Over Voltage Protection</th>
														<td @click="changeOVP" class="changeable">
															{{ formatNumber(device.overVoltageProtection) }}V
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
													<tr>
														<th>Over Current Protection</th>
														<td @click="changeOCP" class="changeable">
															{{ formatNumber(device.overCurrentProtection) }}A
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
													<tr>
														<th>Over Power Protection</th>
														<td @click="changeOPP" class="changeable">
															{{ formatNumber(device.overPowerProtection) }}W
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
													<tr>
														<th>Over Temperature Protection</th>
														<td @click="changeOTP" class="changeable">
															{{ formatNumber(device.overTemperatureProtection) }}℃
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
													<tr>
														<th>Low Voltage Protection</th>
														<td @click="changeLVP" class="changeable">
															{{ formatNumber(device.lowVoltageProtection) }}V
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
												</tbody>
											</template>
										</v-table>
									</v-tabs-window-item>
									<v-tabs-window-item value="program">
										<div class="d-flex">
											<div class="flex-fill" style="margin-right: 10px">
											<v-textarea v-model="program" prepend-icon="mdi-code-block-parentheses"
												style="width: 100%"
												rows="10"
												auto-grow
												></v-textarea>
												<div class="text-right">
													<v-btn size="small">
														Examples
														<v-menu activator="parent">
															<v-list>
																<v-list-item @click="program = example.code" v-for="example in programExamples">{{ example.name }}</v-list-item>
															</v-list>
														</v-menu>
													</v-btn>
												</div>
											</div>
											<div style="width: 25em">
												<v-table density="compact">
													<template v-if="true">
														<tbody>
															<tr>
																<th>V(v)</th>
																<td>Set voltage to `v`</td>
															</tr>
															<tr>
																<th>V()</th>
																<td>Get current set voltage</td>
															</tr>
															<tr>
																<th>I(i)</th>
																<td>Set current to `i`</td>
															</tr>
															<tr>
																<th>I()</th>
																<td>Get current set current</td>
															</tr>
															<tr>
																<th>ON()</th>
																<td>Enable output</td>
															</tr>
															<tr>
																<th>OFF()</th>
																<td>Disable output</td>
															</tr>
															<tr>
																<th>SLEEP(ms)</th>
																<td>Sleep `ms`</td>
															</tr>
															<tr>
																<th>times(n, f)</th>
																<td>Run `f` for `n` times</td>
															</tr>
														</tbody>
													</template>
												</v-table>
												<v-card variant="plain">
													<v-card-text>
															The program is executed once and for all. It then builds a command queue. The actual output control is then performed according to the command queue.
													</v-card-text>
												</v-card>
											</div>
										</div>
										<v-btn color="green" @click="runProgram" v-if="!programRunning">Run</v-btn>
										<v-btn color="red" @click="abortProgram" v-else>Abort ({{ programRemaining }} remains)</v-btn>
									</v-tabs-window-item>
									<v-tabs-window-item value="history">
										<v-row>
											<v-col>
												<v-btn @click="downloadHistory" :disabled="!history.length" color="deep-orange-darken-1" prepend-icon="mdi-download-box">Download</v-btn>
											</v-col>
											<v-col style="text-align: right">
												<v-btn @click="resetHistory" :disabled="!history.length" color="blue-grey-lighten-2" prepend-icon="mdi-close-box">Reset</v-btn>
											</v-col>
										</v-row>
										<v-data-table
											density="compact"
											:headers="historyTableHeaders"
											:items="history"
											:items-per-page="10"
											>
											<template v-slot:item.time="{ item }">
												{{ formatDateTime(item.time) }}
											</template>
											<template v-slot:item.v="{ item }">
												{{ formatNumber(item.v) }}V
											</template>
											<template v-slot:item.i="{ item }">
												{{ formatNumber(item.i) }}A
											</template>
											<template v-slot:item.p="{ item }">
												{{ formatNumber(item.p) }}W
											</template>
										</v-data-table>
										<!-- v-table>
											<template v-if="true">
												<tbody>
													<tr v-for="h in history">
														<td>{{ formatDateTime(h.time) }}</td>
														<td>{{ formatNumber(h.v) }}</td>
														<td>{{ formatNumber(h.i) }}</td>
														<td>{{ formatNumber(h.p) }}</td>
													</tr>
												</tbody>
											</template>
										</v-table -->
									</v-tabs-window-item>
									<v-tabs-window-item value="settings">
										<v-table density="compact" style="width: 30em">
											<template v-if="true">
												<tbody>
													<tr>
														<th>Brightness</th>
														<td @click="editBrightness()" class="changeable">
															{{ device.brightness }}
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
													<tr>
														<th>Volume</th>
														<td @click="editVolume()" class="changeable">
															{{ device.volume }}
															<v-btn size="x-small" color="green" variant="flat">set</v-btn>
														</td>
													</tr>
												</tbody>
											</template>
										</v-table>
									</v-tabs-window-item>
								</v-tabs-window>
							</v-card-text>
						</v-card>

					</v-container>
				</v-main>

				<v-overlay v-model="connectOverlay" class="justify-center" style="position: fixed" contained>
					<div style="text-align: center; padding: 5em">
						<p>Device is not connected</p>
						<p>
							<v-btn @click="connect" v-if="!port">Connect</v-btn>
						</p>
					</div>
				</v-overlay>
			</v-app>

			<v-dialog width="auto" v-model="showNumberInput" id="numberInput">
				<v-card :title="numberInput.title" v-if="numberInput">
					<v-divider class="mt-3"></v-divider>
					<v-card-text>

						<div style="height: 100%; width: 100%; display: flex; flex-direction: column">
							<div style="flex: 1">
								<div v-html="numberInput.descriptionHtml" v-if="numberInput.descriptionHtml"></div>
								<div v-else>
									{{ numberInput.description || '' }}
								</div>
							</div>
							<div id="numberInputting">
								<span class="number" v-if="numberInput.input">{{ formatNumberForInput(numberInput.input) }}</span>
								<span class="number" v-else style="color: rgba(0,0,0,.54);">{{ formatNumberForInput(numberInput.prev) }}</span>
								<span class="unit">{{ numberInput.unit }}</span>
							</div>
							<table id="numberInputTable">
								<tr>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">7</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">8</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">9</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton" v-show="numberInput.units[0]">{{ numberInput.units[0] }}</v-btn></td>
								</tr>
								<tr>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">4</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">5</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">6</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton" v-show="numberInput.units[1]">{{ numberInput.units[1] }}</v-btn></td>
								</tr>
								<tr>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">1</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">2</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">3</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton" v-show="numberInput.units[2]">{{ numberInput.units[2] }}</v-btn></td>
								</tr>
								<tr>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">0</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">.</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton">&#x232B;</v-btn></td>
									<td><v-btn variant="tonal" class="" @click="numberInputButton" v-show="numberInput.units[3]">{{ numberInput.units[3] }}</v-btn></td>
								</tr>
							</table>
						</div>
					</v-card-text>

					<template v-slot:actions>
						<v-btn
							class="ms-auto"
							text="Cancel"
							@click="showNumberInput = false"
							></v-btn>
					</template>
				</v-card>
			</v-dialog>
		</div>
	</body>
</html>
